<?xml version="1.0"?>
<!--
/**
 * Smile ContactUs menu.
 *
 * @author    Dmytro Kohut <dmkoh@smile.fr>
 * @copyright 2020 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smile_Contact::contact_core"
             title="Smile Contact Us"
             module="Smile_Contact"
             sortOrder="50"
             resource="Smile_Contact::contact_core" />

        <add id="Smile_Contact::appeal"
             title="Appeal"
             module="Smile_Contact"
             sortOrder="10"
             parent="Smile_Contact::contact_core"
             action="smile_contact/appeal"
             resource="Smile_Contact::appeal" />
    </menu>
</config>
